<tr>
  <td><%= product.code %></td>
  <td><%= product.product_brand.description unless product.product_brand.nil?  %></td>
  <td><%= product.description %></td>
  <td><%= product.total %></td>
  <td><%= product.price %></td>
</tr>