<div class="row">
  <div class="span6 offset4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Detalle</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @sell.product.code %></td>
          <td><%= @sell.product.description %></td>
          <td><%= @sell.amount %></td>
          <td><%= @sell.price %></td>
        </tr>
      </tbody>
      <td  class="text-right" ><strong>Total </strong> <%= @sell.total %></td>
    </table>
  </div>  
</div>