<h1>Venta</h1>

<div class="row">
  <div class="span6 offset2">
    <%= simple_form_for(@sell, :html => {:class => 'form-horizontal' }) do |f| %>

      <%= f.association :product, label_method: :code %>
      <%= f.association :customer, label_method: :full_name %>

      <%= f.input :amount %>
      <%= f.input :price %>

      <div class="form-actions">
        <%= f.submit "Vender", class: "btn btn-large btn-primary" %>
        <%= link_to "Cancelar", new_sell_path, class: "btn btn-large" %>
      </div>
    <% end %>
  </div>
</div>

<!-- , label_method: :description, value_method: :d  -->

<!--
<%# form_tag({controller: "places", action: "search"},  remote: true) do %>
  <%# text_field_tag :query, params[:query] %>
  <%# submit_tag "buscar destino", name: nil %>
<%# end -%>
 -->            