<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Digital Island", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Venta",    '#' %></li>
          <li><%= link_to "Registrar Producto",  new_product_path %></li>  
          <li><%= link_to "Marca", new_product_brand_path %></li>              
          <li><%= link_to "Lista", products_path %></li>              
          <li><%= link_to "Nuevo Cliente", new_customer_path %></li>              
          <li><%= link_to "Nuevo proveedor", new_supplier_path %></li>              

        </ul>
      </nav>
    </div>
  </div>
</header>